// ======Main Options=======
/* -----Color------- */
// $primary-color: #2dce89;
$primary-color: #BF1E2E;
$secondary-color: #fff;
$tertiary-color: #191919;	
$fourth-color: #525F7F; 
$fifth-color: #F0F2F5;

// $info-color:  #51bcda !default;
$info-color:  #4A90E2 !default;

$warning-color: #fbc658 !default;
$success-color: #2CCD89 !default;
$danger-color: #F30606 !default;

$bg-nude: #FFFCF5 !default;
$opacity-5: rgba(255,255,255, .5) !default;

$black: #000;
// $white-color: #fff;
$white-color: #ededed;
$gray: #999;

$box-shadow:               0 2px 2px rgba(204, 197, 185, 0.5);
$sidebar-box-shadow:       0px 2px 22px 0 rgba(0, 0, 0,.20), 0px 2px 30px 0 rgba(0, 0, 0,.35);

/* -----Fonts-----*/
$pageFontSize: 14px;
$mainFont: 'Lato', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;
// $secondaryFont: "Arial";
$tertiaryFont: 'Lato', sans-serif;

$mainFontColor: $tertiary-color;
$secondaryFontColor: #424242;
$text-muted: #666666;
$descriptionTextColor: #525f7f;
$subDescriptionColor: rgba(13, 13, 15, 0.5);

$titleFont: $mainFont;
$titleFontSize: 24px;
$titleFontSizeLaptop: 24px;
$titleFontSizeDesktop: 24px;

$pageTitleFontSize: 18px;
$pageTitleFontSizeLaptop: 20px;
$pageTitleFontSizeDesktop: 20px;

$sectionTitleFontSize: 20px;
$sectionTitleFontSizeLaptop: 20px;
$sectionTitleFontSizeDesktop: 20px;

$articleTitleFontSize: 16px;
$articleTitleFontSizeLaptop: 16px;
$articleTitleFontSizeDesktop: 16px;


$sectionBlockTitleFontSize: 24px;
$descriptionTitleFontSize: 20px;

/* ======Components Options======= */
/* ------Color---------- */
$mainBackgroundColor: $fifth-color;
// $sidebar-bg-color: #a4d4de;
// $card-bg-color: #a4d4de;
// $table-cell-bg: #a8caea;

// $mainBackgroundColor: #f6f7fd;
$sidebar-bg-color: $secondary-color;
$card-bg-color: $secondary-color;
$table-cell-bg: $secondary-color;

$headerColor: $primary-color;
$headerFontColor: #fff;

$headerBottomColor: $secondary-color;
$headerBottomFontColor: #fff;

$footerColor: $secondary-color;
$footerFontColor: #fff;

$mobileMenuColor: $primary-color;

$formElementsBorderColor: #DEE2E6;
$formElementsFocusBorderColor: $primary-color;

$borderColor: #EBEEF5;

$linksColor: $gray;

$darkOverlayColor: rgb(0,0,0);


/* ------Fonts----------*/
// $h1FontSize: 40px;
// $h2FontSize: 24px;
// $h3FontSize: 20px;
$smaller: 12px;
$normal: 14px;
$larger: 16px;
$large: 18px;
$big: 24px;

$descriptionLineHeight: 24px;
$descriptionFontSize: 16px;

/* ------Sizes----------*/
$topSectionHeaderHeight: 72px;
$headerHeightMobile: 139px;
$headerHeight: 94px;
$pageMaxWidth: 6920px;

$formElementsHeight: 44px; 

$standardButtonHeight: $formElementsHeight - 2px;

// $navMenuHeight: 90px;
// Sidebar variables
$sidebar-width:              250px !default;
$sidebar-mini-width:         64px !default;
$main-panel-width-full:      calc(100% - 64px) !default;
$main-panel-width:         	 calc(100% - 250px) !default;

// $minus-navbar-height: calc(100vh - 78px - 40px);
$minus-navbar-height: calc(100vh - 94px);

$sidebar-item-height: 44px;
$sidebar-subitem-height: 35px;
/* ------Margins/Paddings------ */

// ---Optional (page-grid)-----
$containerPadding: 15px;
$containerPaddingDesktop: 30px;

$containerWidth: 760px;
$containerWidthTablet: 980px;
$containerWidthLaptop: 1170px;
$containerWidthDesktop: 6900px;

$sectionMarginTopMobile: 15px;
$sectionMarginTopTablet: 20px;
$sectionMarginTopLaptop: 25px;
$sectionMarginTopDesktop: 25px;

$articleMarginMobile: 10px;
$articleMarginTablet: 10px;
$articleMarginLaptop: 16px;
$articleMarginDesktop: 16px;

// ---Optional (collapse menu)-----
$collapseBefore: 991px;  // page width when menu should collapse

// ---Optional (form-grid)-----
$formTitleFontSize: 1.25rem;
$labelFontSize: 14px;

/* ------Z-index-------- */
$zeditModal: 1000;
$zeditModalButton: $zeditModal + 10;

$pageOverlayZIndex: $zeditModal + 50;
$contentOverlayZIndex: $zeditModal - 50;

$zPopup: $zeditModal + 200;
$zPopupDarkOverlay: $zPopup - 50;

$imageIndex: 10;
$gradientIndex: $imageIndex + 5;
$captionIndex: $gradientIndex + 5;
$dotsIndex: $captionIndex + 5;

// ----------Transitions-------
$linksTransition: 0.2s;
$formTransitions: 0.10s;
$animationTransitions: 0.4s;





